.container {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box {
    background-color: #FFFFFF;
    height: 500px;
    width: 320px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.content-container {
    padding: 16px 16px 40px 16px;
    width: 288px;
    height: 100%;
}

.qr-container {
    height: 288px;
    width: 288px;
    background-image: url("./images/image-qr-code.png");
    background-size: contain;
    border-radius: 10px;
}

.text-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Outfit", sans-serif;
}

.main-text {
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: center;
    margin: 0px 16px 16px 16px
}

.sub-text {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0px 16px 16px 0px
}